.items{
    display: flex;
    margin: 80px auto;
    width: 540px;
    height: 400px;
    background: #8A2BE1;
}

.item{
    margin: 80px auto;
    width: 150px;
    height: 100px;
    margin: 15px;
    background: #FE6347;
}

.item:nth-child(3) {
    align-self: flex-end;
}

.item:nth-child(2) {
    align-self: center;
}