h3{
    color: blue;
    margin-left: 500px;
}

.some1{
    color: orange;
    margin-left: 300px;
}

.some2{
    color:gold;
}

.some3{
    color: cornflowerblue;
    margin-left: 300px;
}

img{
    margin-left: 400px;
}

